<g class="hex-group hex-interactive" transform="translate({{ hex.x }}, {{ hex.y }})">
    <polygon class="border"
        points="0,-86 75,-43 75,43 0,86 -75,43 -75,-43"
        stroke="black" stroke-width="3" fill="none"/>

    <defs>
        <clipPath id="hex-clip-{{ hex.id }}">
            <polygon points="0,-86 75,-43 75,43 0,86 -75,43 -75,-43"/>
        </clipPath>
    </defs>

    {% if hex.image_url %}
        <image xlink:href="{{ hex.image_url }}"
                x="-75" y="-86"
                width="150" height="172"
                clip-path="url(#hex-clip-{{ hex.id }})"
                transform="rotate({{ hex.rotation }})"/>
    {% endif %}

    <text x="0" y="5" text-anchor="middle" font-size="16">{{ hex.label }}</text>


</g>